<section class="input-output-properties">

  <!-- binding-property.component.html -->
<h1>Valor em BindingPropertyComponent: {{ valorInicial }}</h1>

<h1>Valor em BindingPropertyComponent: {{ novoValor }}</h1>
<app-output-property [novoValor]="novoValor" (novoValorChange)="novoValor = $event"></app-output-property>

    <article>
      <h3>Input/Output Properties</h3>
  
     
  
     <!-- <app-output-property [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></app-output-property>-->


  
    </article>
  </section>
